@import "normalize";

$purple: #857992;

* {
  box-sizing: border-box;
}

html {
  font-family: Georgia, Times, 'Times New Roman', serif;
  background: #fafafa;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $purple;
}

.hidden {
  display: none;
}

.header,
.header--with_bg {
  padding: 30px 0 0 30px;
  min-height: 120px;
}

.header--with_bg {
 //background-size: cover;
  background-position: center;
  background-size: auto 240px;
  min-height: 240px;
  position: relative;
}

.header__logo {
  margin: 0;
  width: 130px;
  display: block;

  img {
    width: 100%;
  }
}

.header__title {
  margin: 0;
  color: #fff;
  font-weight: normal;
  text-align: center;
  position: absolute;
  bottom: 35px;
  width: 100%;
  left: 0;
  font-size: 2em;
  text-shadow: 0 0 6px #787878;
}

.nav__menu_cta {
  width: 25px;
  display: block;
  position: absolute;
  top: 55px;
  right: 30px;
  img {
    width: 100%;
  }
}

.nav__close_cta {
  display: none;
  position: fixed;
  z-index: 101;
  top: 53px;
  right: 33px;
  width: 20px;
  height: 20px;

  img {
    width: 100%;
  }
}

.nav__items {
  display: none;
  position: fixed;
  background: #fafafa;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin: 0;
  text-align: center;
  padding: 40px 0 0 0;
  list-style: none;

  li {
    padding: 1em 0;
  }

  a {
    text-decoration: none;
    color: #444;
    font-size: 1.2em;
  }
}

.image_cta {
  font-size: 0;
  display: block;
  position: relative;
}

.image_cta__bg {
  width: 100%;
}

.image_cta__text,
.image_cta__text--two_lines {
  position: absolute;
  text-align: center;
  display: block;
  top: 45%;
  width: 100%;
  color: #fff;
  font-size: 24px;
  text-shadow: 0 0 6px #787878;
}

.image_cta__text--two_lines {
  top: 40%;
}

.just_text_section {
  padding: 60px 30px;

  p {
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 0;
    text-align: center;
  }
}

.footer--primary {
  text-align: center;
  color: #fff;
  overflow: auto;
  background: $purple;
  padding: 30px 20px 5px;
}

.follow__title {
  font-weight: normal;
  margin: 0 0 1.2em;
}

.follow__links {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    text-align: center;
    width: 30px;
    margin: 0 12px;

    img {
      width: 100%;
    }
  }
}

.footer_nav {
  margin: 3em 0 2em;


  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    padding: 0 10px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

.copyright {
  font-size: .7em;
}

.main_article {
  margin: 0 1em 2em;

  h1 {
    font-size: 1.3em;
    margin: 1.5em 0;
  }

  h2 {
    font-size: 1.2em;
    margin: 0 0 .4em;
  }

  p, blockquote {
    margin: 0 0 1em;
    line-height: 1.5em;
  }
}

.article_figure__img {
  width: 100%;
}

.article_figure__caption {
  text-align: center;
  font-style: italic;
}

.quote {
  margin: 0 0 3em;
  padding: 0 0 0 1em;
  border-left: 5px solid #f0f0f0;
}

.quote--reverse {
  text-align: right;
  border-left: none;
  padding: 0 1em 0 0;

  border-right: 5px solid #f0f0f0;
}

.quote__footer {
  background: none;
  padding: 1em 0 0;
}

@media (min-width: 800px) {

  .header {
    min-height: 160px;
  }

  .header__logo {
    width: 200px;
  }

  .header--with_bg {
    background-size: cover;
  }

  .image_cta__bg {
    transition: all 0.5s ease;
  }

  .image_cta {
    float: left;
    width: 33.333333%;
    background: $purple;
    overflow: hidden;

    &:hover {
      cursor: pointer;

      .image_cta__bg {
        opacity: .2;
        transform:scale(1.05);

      }

    }
  }

  .image_cta__text,
  .image_cta__text--two_lines {
    font-size: 24px;
  }

  .just_text_section {
    width: 100%;
    float: left;
    padding: 4em 20%;

    p {
      font-size: 1.5em;
    }
  }

  .main_article {
    width: 500px;
    margin: 0 auto;
  }

  .article_figure {
    width: 700px;
    margin: 1em 0 1em -100px;
  }

  .footer--primary {
    float: left;
    width: 100%;
    margin-top: 4.5em;
  }

  .follow {
    padding: 3em 0;
  }


}