@import "normalize";

* {
  box-sizing: border-box;
}

html {
  font-family: Georgia, Times, 'Times New Roman', serif;
  background: #fafafa;
  color: #333;
}

.hidden {
  display: none;
}

.header {
  padding: 30px 0 0 30px;
  min-height: 120px;
}

.header__logo {
  margin: 0;
  width: 130px;
  display: block;

  img {
    width: 100%;
  }
}

.nav__menu_cta {
  width: 25px;
  display: block;
  position: absolute;
  top: 55px;
  right: 30px;
  img {
    width: 100%;
  }
}

.nav__close_cta {
  display: none;
  position: fixed;
  z-index: 101;
  top: 53px;
  right: 33px;
  width: 20px;
  height: 20px;

  img {
    width: 100%;
  }
}

.nav__items {
  display: none;
  position: fixed;
  background: #fafafa;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin: 0;
  text-align: center;
  padding: 40px 0 0 0;
  list-style: none;

  li {
    padding: 1em 0;
  }

  a {
    text-decoration: none;
    color: #444;
    font-size: 1.2em;
  }
}

.image_cta {
  font-size: 0;
  display: block;
  position: relative;
}

.image_cta__bg {
  width: 100%;
}

.image_cta__text,
.image_cta__text--two_lines {
  position: absolute;
  text-align: center;
  display: block;
  top: 45%;
  width: 100%;
  color: #fff;
  font-size: 24px;
  text-shadow: 0 0 6px #787878;
}

.image_cta__text--two_lines {
  top: 40%;
}

.just_text_section {
  padding: 60px 30px;

  p {
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 0;
    text-align: center;
  }
}

footer {
  text-align: center;
  color: #fff;
  overflow: auto;
  background: #857992;
  padding: 30px 20px 5px;
}

.follow__title {
  font-weight: normal;
  margin: 0 0 1.2em;
}

.follow__links {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    text-align: center;
    width: 30px;
    margin: 0 12px;

    img {
      width: 100%;
    }
  }
}

.footer_nav {
  margin: 3em 0 2em;


  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    padding: 0 10px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

.copyright {
  font-size: .7em;
}

@media (min-width: 800px) {

  .header {
    min-height: 160px;
  }

  .header__logo {
    width: 200px;
  }

  .image_cta {
    float: left;
    width: 33.333333%;

    &:hover {
      cursor: pointer;

    }
  }

  .image_cta__text,
  .image_cta__text--two_lines {
    font-size: 24px;
  }

  .just_text_section {
    width: 100%;
    float: left;
    padding: 4em 20%;

    p {
      font-size: 1.5em;
    }
  }

  footer {
    float: left;
    width: 100%;
    margin-top: 4.5em;
  }

  .follow {
    padding: 3em 0;
  }


}